#login
  %h1 Please log in.
  %p We use <a href="http://openid.net/">OpenID</a> so you don't have to have an account for every website you visit (well, at least not this one). Click the box below to sign in using your login from another site (we never see your password).
  - if flash[:error]
    %p.error= flash[:error]
  - form_tag session_path, :method => :post do
    = label_tag :openid_url, "Your OpenID:"

    = text_field_tag :openid_url, "http://", :class => 'openid-url'
    %script{ :id => "__openidselector", :src => "/javascripts/openidselector.js" }

    - if SKIP_OPENID_VERIFICATION
      = label_tag(:skip_openid, "#{check_box_tag(:skip_openid)} Skip verification (only available in dev mode)", :class => 'skip')
    %p.button= submit_tag 'Log me in', :style => "font-size: 1.6em"

