#newtopic{:style => "display: none"}
  - form_for(:topic) do |f| 
    .info
      %h1 Start a new topic
      %p You can add some tags to your topic, which makes it easier for other users to see what kind of topic it is. Separate multiple tags with spaces.

    .fields
      = f.label :title, "Title for your topic", :class => 'required'
      = f.text_field :title, :class => 'text required'
  
      = f.label :tag_list, "Optional: tags for this topic"
      = f.text_field :tag_list, :class => 'text'
  
      = label :post, :body, "Write a nice opening post for your topic"
      = text_area :post, :body, :class => 'text'

      %p.submit
        = f.submit "Start your topic"
        or
        = link_to_function('cancel', "Effect.SlideUp('newtopic', { duration: 0.2 })")
