#newtopic
  - form_for(:topic) do |f| 
    .info
      %h1 New topic
      %p You can add some tags to your topic, which makes it easier for other users to see what kind of topic it is. Separate multiple tags with spaces.

    .fields
      = f.label :title, "Title for your topic", :class => 'required'
      = f.text_field :title, :class => 'text required'
  
      = f.label :tag_list, "Optional tags"
      = f.text_field :tag_list, :class => 'text'
  
      = label :post, :body, "Write a nice opening post"
      = text_area :post, :body, :class => 'text'

      %p.submit
        = f.submit "Start your topic"
        or
        = link_to 'cancel', topics_path, :class => 'new-topic'
