#meta
  - if logged_in?
    %h1= link_to "Start a new topic", new_topic_path, :class => 'new-topic'

  %p= link_to "Mark all topics read", mark_all_read_topics_path, :method => :post

  .tagcloud
    %h2 Tags
    - tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class|
      = link_to h(tag.name), tag, :class => css_class

#topics
  = render :file => "topics/new"
  = render :partial => "list", :locals => {:topics => @topics}
