#meta
  - editable = (logged_in? and (@current_user == @topic.posters.first or admin?))
  %h1.title{ :class => editable ? 'editable' : ''}=h @topic.title
  .topic-id= @topic.id

  #taglist
    %h2 Tags
    %ul
      - @topic.tags.each do |tag|
        %li{ :id => "tag-#{tag.name.gsub(/\s/, "-")}" }
          = link_to_remote "[x]", :url => untag_topic_path(@topic, :tag => tag.name) if logged_in?
          = link_to h(tag.name), tag
    - if logged_in?
      - form_for(:tag, :url => tag_topic_path(@topic)) do |f|
        = f.text_field :name, :class => 'tag'
        = f.submit "Add"

  #talking
    %h3
      Who's talking?
      %small (by time last seen)
    %ol
      - posters_by_latest(@topic.posts).each do |user, time|
        %li
          = time.to_formatted_s(:short)
          = link_to h(user.name), user

  - if admin?
    #admin
      %h2 Administrative
      %p Split topic with checked messages.

#posts
  - prevpost, showed_gravatar = nil
  - @topic.posts.each do |post|
    - user_continuation = (prevpost and prevpost.user == post.user)
    - showed_gravatar = false unless user_continuation
    %a{ :name => post.id }/
    .post
      .user
        - unless user_continuation
          = link_to h(shorten_username(post.user.name)), user_path(post.user)
        - if !showed_gravatar and post.body.length > 150
          = link_to image_tag(post.user.gravatar_url, :alt => "#{h post.user.name} gravatar"), user_path(post.user)
          - showed_gravatar = true

      - if admin?
        .mark<
          = check_box :post, :check3
      .time<
        = link_to('&nbsp;' + post.created_at.to_formatted_s(:short).gsub(' ', '&nbsp;'), topic_post_path(@topic, post))
      .body<
        = user_html(post.body)
    - prevpost = post

- if logged_in?
  .reply
    - form_for(:post, :url => topic_posts_path(@topic)) do |f|
      = f.text_area :body
      %p.submit
        = f.submit "Post"
      .preview
